
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


* {
	font-family: 'Rubik', sans-serif;
}

html {
	scroll-behavior: smooth;
}

/*************************************************************/
/*                      Header                               */
/*************************************************************/

.header-color {
    background-color:cornflowerblue; 
}

.header-logo {
    padding-left: 3%;
}

/*************************************************************/
/*                      MainPage                             */
/*************************************************************/

.mainTitleSection {
    max-width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    min-width: auto;
    text-align: center;
    padding: 1%;
}

.mainTitle {
    font-family: Arial;
    font-size: 6vh;
}



.mainPageSection {
    padding: 5%;
}

.image-cover-page {
	height:auto;
	min-height:100vh;
	background-image:url(/assets/img/portada.jpg);
	background-size:cover;
	background-position:center;
}

.secondTitle {
    text-align: center;
    padding-bottom: 2.5%;
}

.searchSection {
    background-color: cornflowerblue;
    max-width:100%;
    width: 100%;
    margin-top: 3%;
    min-height: 50vh;
    text-align: center; 
    border-radius: 50% 50% 0 0;
}

.searchSectionTitle {
	padding-top:3%; 
	font-size:3rem !important;
}

.width21 {
	width: 21%;
}
.width17 {
	width: 17%;
}
.width18 {
	width: 18%;
}
.width13 {
	width: 13%;
}

.width10 {
	width: 10%;
}

/*************************************************************/
/*                      SearchForm                           */
/*************************************************************/

.searchSectionP {
	min-height: 82vh;
}

.searchTitle {
	margin-top: 3%;
    margin-left: 3%;
    margin-bottom: -2%;
}

.searchButtonSection {
	padding-left: 0% !important;
}

.checkBox-search {
	margin-right: 1%;
}

.searchButton {
	width: 48vh;
}

.home_search
{
	width: 100%;
	z-index: 100;
}
.home_search_container
{
	position: absolute;
	top: 10vh;
	left: 15px;
	width: calc(100% - 30px);
	height: 90px;
	border-radius: 45px;
	padding: 10px;
	background: rgba(255,255,255,0.33);
}
.home_search_content
{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	border-radius: 35px;
}
.search_form
{
	position: relative;
	height: 100%;
}
.search_form_content
{
	width: 100%;
	height: 100%;
	padding-left: 14px;
	padding-right: 11px;
}
.search_form_content > div
{
	height: 100%;
	padding-left: 2.5%;
	padding-right: 2px;
}
.search_form_content > div:not(:last-child)
{
	border-right: solid 2px #d1d1d1;
}
.search_form_select
{
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 400;
    color: #6b6b6b;
	cursor: pointer;
	background-color: white;
}
.search_form_button
{
	width: 193px;
	height: 100%;
	border-radius: 35px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	background: linear-gradient(to right, #487fee, #32fa95);
}

.formSearch {
	padding: 3%;
}

.checboxGroup {
	margin-left: 1.5%;

}

.imgSizeSearch {
	width: 100%;
    height: auto;
    max-width: 55vh;
    min-width: 27vh;
    max-height: 30vh;
    min-height: 22vh;
}

@media only screen and (max-width: 991px)
{
	
	.home_search_container
	{
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		height: auto;
		margin-top: 80px;
		margin-bottom: 43px;
		background: linear-gradient(to right, #487fee, #32fa95);
	}
	.home_search_content
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.search_form_content > div
	{
		width: 100%;
		height: 50px;
	}
	.search_form_content > div:not(:last-child)
	{
		border-right: none;
		border-bottom: solid 1px #d1d1d1;
	}
	.search_form_button
	{
		position: absolute;
		bottom: -80px;
		left: -10px;
		height: 40px;
		width: calc(100% + 20px);
    }
}


@media only screen and (max-width: 420px) {
    .mainTitleSection {
        min-width: 90%;
        top: 75%;
    }

    .mainTitle {
        font-size: 5vh;
    }

    .navbar-nav {
        text-align: center;
    }

    .searchSection {
        border-radius: 0;
        padding-bottom: 10%;
    }

    .home_search {
        padding-top: 5%;
    }

    .home_search_container {
        margin-top: 10%;
    }

    .navbar {
        padding: .5rem 0.3rem;
	}
	
	.checboxGroup {
		margin-left: 24.5%;
	}

	.card-columns .card {
		margin-bottom: .75rem;
		margin-left: 5% !important;
	}
	.searchButtonSection {
		padding-left: 0% !important; 
	}

}

@media (min-width: 576px) {
	.card-deck {
		/* margin-left: 15%;
		margin-right: 15%;
		margin-bottom: 10%; */
	}

	.cardDeck {
		flex-flow: column;
		margin-left: 15%;
		margin-right: 15%;
		margin-bottom: 10%;
	}

	.card-deck .card {
		margin-bottom: 2%;
	}
}


/*************************************************************/
/*                      Details                              */
/*************************************************************/

.detailSection {
	min-height: 105vh;
	max-width: 100%;
	width: 100%;
}

.contactButton {
	margin-left: 5%;
	margin-bottom: 1%;
}

.imgSize {
	width: 100%;
	height: auto;
	max-width: 55vh;
	max-height: 35vh;
}

.carousel {
	max-width:55vh;
	max-height: 35vh; 
}

.mb-3 {
	margin-left: 15%;
	margin-top: 2%;
	width: 140% !important;
}

.mb-2 {
	margin-left: 15%;
	margin-top: 2%;
	width: 75% !important;
}

.card-title {
    font-size: 2.25rem;
}

#mapa { 
	height: 600px;
	margin-bottom: 15%; 
}

@media only screen and (max-width: 420px) {
	.mb-3 {
		margin-left: 5%;
		margin-top: 2%;
		width: 90%;
		max-width: 90%;
	}	

	.mb-2 {
		margin-left: 5%;
		width: 90% !important;
	}
	
	.contactButton {
		margin-left: 30%;
		margin-bottom: 1%;
	}
}

/*************************************************************/
/*                      Contact                              */
/*************************************************************/

.containerContactUs {
	min-height: 75vh; 
}

.Contactjumbutron {
	max-width: 100%;
	width: 25%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    min-width: auto;
    text-align: center;
    padding: 1%;
}

.jumbotron > h1 {
	text-align: center;
}

.image-cover-page-contact {
	height:auto;
	min-height:100vh;
	background-image:url(/assets/img/contact.jpg);
	background-size:cover;
	background-position:center;
}

.contactus-Section {
	min-height: 25vh;
	text-align: center;
}

.contactDiv {
	
}

@media only screen and (max-width: 420px) {
	.Contactjumbutron{
		width: 85%;
		padding: 2%;
		top: 70%;
	}
}

/*************************************************************/
/*                      SignUp                               */
/*************************************************************/

.mb-1 {
    margin-top: 2%;
	width: 140% !important;
}

.containerSign {
	min-height: 75vh;
	padding-top:5%; 
	margin-bottom: 7vh;
}

.marginAlert {
	margin-top: 1%;
}

.titleMiCuenta {
	margin-top: 2%;
}

/*************************************************************/
/*                      UserSite                             */
/*************************************************************/

.sectionUserSite {
	min-height: 82vh;
	padding: 3%;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.marginButton {
	margin-right: 1%;
}

.marginResetMb1 {
	margin-top: 0 !important;
}

/*************************************************************/
/*                      PropertyAd                             */
/*************************************************************/

.marginCheckBox {
	margin-left: 4%;
}

.propertySection {
	min-height: 82vh;
}

.ButtonSection {
	padding-left: 40% !important;
}

.propertySection > .formSearch > .form-row {
	padding-top: 0.5%;
}

/*************************************************************/
/*                      UploadImages                         */
/*************************************************************/

.sectionUploadImages {
	min-height: 82vh;
	padding: 5rem;
}
  

/*************************************************************/
/*                      Footer                               */
/*************************************************************/

footer {
    color: white;
    background: black;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    position: unset;
    min-height: 9vh;
    right: 0;
    text-align: center;
}
