<section class="container containerSign">
<h1 *ngIf="this.signup">Registro de usuario</h1>
<h1 *ngIf="this.update">Actualizar usuario</h1>
<form>
    <div class="form-row">
      <div class="col-md-4 mb-1">
        <label for="validationDefault01">Nombre</label>
        <input *ngIf="this.signup" type="text" class="form-control" id="validationDefault01" (ngModel)="this.name" #name (change)="capturarName(name.value)" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}" required>
        <input *ngIf="this.update" type="text" class="form-control" id="validationDefault01" (ngModel)="this.name" #name (change)="capturarName(name.value)" value="{{this.user.name}}" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}" required>
      </div>
      <div class="col-md-4 mb-1">
        <label for="validationDefault02">Apellidos</label>
        <input *ngIf="this.signup" type="text" class="form-control" id="validationDefault02" (ngModel)="this.surnames" #surn (change)="capturarSurnames(surn.value)" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}" required>
        <input *ngIf="this.update" type="text" class="form-control" id="validationDefault02" (ngModel)="this.surnames" #surn (change)="capturarSurnames(surn.value)" value="{{this.user.surnames}}" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}" required>
      </div>
      <div class="col-md-4 mb-1">
        <label for="validationDefaultUsername">Teléfono</label>
        <input *ngIf="this.signup" type="tel" class="form-control" (ngModel)="this.phone" #phone (change)="capturarPhone(phone.value)" id="validationDefault02" required>
        <input *ngIf="this.update" type="tel" class="form-control" (ngModel)="this.phone" #phone (change)="capturarPhone(phone.value)" value="{{this.user.phone}}" id="validationDefault02" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-1">
        <label for="validationDefault03">Correo electrónico</label>
        <input *ngIf="this.signup" type="email" class="form-control" (ngModel)="this.email" #email (change)="capturarEmail(email.value)" id="validationDefault03" required>
        <input *ngIf="this.update" type="email" class="form-control" (ngModel)="this.email" #email (change)="capturarEmail(email.value)" value="{{this.user.email}}" id="validationDefault03" required>
      </div>
      <div class="col-md-6 mb-1">
        <label *ngIf="this.signup" for="validationDefault04">Contraseña</label>
        <input *ngIf="this.signup" type="password" class="form-control" (ngModel)="this.password" #pass (change)="capturarPass(pass.value)" id="validationDefault04" required>
        <label *ngIf="this.update" for="validationDefault04">Contraseña*</label>
        <input *ngIf="this.update" data-toggle="tooltip" data-placement="top" title="Reintroduce la contraseña o escribe una nueva si deseas cambiarla" type="password"class="form-control" (ngModel)="this.password" #pass (change)="capturarPass(pass.value)" id="validationDefault04" required>
      </div>
    </div>
    <div class="form-group">
      <div *ngIf="this.signup" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Aceptar los términos y condiciones
        </label>
      </div>
    </div>
    <button *ngIf="this.signup" class="btn btn-primary" type="button"  (click)="this.signUp()">Registrarse</button>
    <button *ngIf="this.update" class="btn btn-primary" type="button" (click)="this.updateUser()" >Actualizar</button>
  </form>
  <div *ngIf="this.service.showEmailNotValid" class="alert alert-danger marginAlert" role="alert">
    Este email ya está en uso!
  </div>

</section>