<section class="containerContactUs">
    <section class="image-cover-page-contact">
        <section class="Contactjumbutron">
            <h1 class="mainTitle">Llámanos</h1>
            <h2>o envíanos un email</h2>
            <a href="contactus#contactDiv">
              <button  class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" >Llamar</button>
            </a>
        </section>
      </section>
      <section class="jumbotron Contactus">
          <h1 #contactDiv class="display-4">Contáctanos</h1>
          <p class="lead">
           Envíanos un email a onclickrealestate@gmail.com </p>
          <hr class="my-4">
          <p>O visitanos en nuestras oficinas en Avinguda de la Generalitat, 202, 204 Sant Cugat del Vallès</p>
        </section>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Teléfono</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          93 140 06 88
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
