<section class="detailSection">
    <div class="shadow card mb-2">
        <div class="row no-gutters">
          <div class="col-md-4">
              <section id="demo" class="carousel slide" data-ride="carousel">
  
                  <!-- The slideshow -->
                  <section *ngIf="this.images.length > 0" class="carousel-inner">
                    <section class="carousel-item active">
                      <img class="imgSize" src="http://www.onclickrealestate.com/propertyAd/img/{{this.images[0]}}">
                    </section>
                    <section *ngFor="let img of this.images; let i=index" class="carousel-item">
                      <img class="imgSize" src="http://www.onclickrealestate.com/propertyAd/img/{{this.images[i]}}">
                    </section>
                  </section>
                  
                  <section *ngIf="this.images.length === 0" class="carousel-inner">
                    <section class="carousel-item active">
                      <img class="imgSize" src="/assets/img/noimage.png">
                    </section>
                  </section>
                
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </section>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{this.propertyAd.propertyType}} en {{this.propertyAd.locality}} por <span>{{this.propertyAd.price}}€</span>
                <button type="button" class="contactButton btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Contactar
                </button>
              </h5>
              <p class="card-text">m<sup>2</sup>: {{this.propertyAd.squareMeters}}</p>
              <p class="card-text">Habitaciones: {{this.propertyAd.nRooms}}</p>
              <p class="card-text">Lavabos: {{this.propertyAd.nBathrooms}}</p>
              <p class="card-text">Estado: {{this.propertyAd.state}}</p>
              <p class="card-text">Año de construcción: {{this.propertyAd.buildingDate}}</p>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Datos de contacto</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="card-text">Nombre: {{this.contact.name}}</p>
                      <p class="card-text">Apellidos: {{this.contact.surnames}}</p>
                      <p class="card-text">Teléfono: {{this.contact.phone}}</p>
                      <p class="card-text">Email: {{this.contact.email}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>


              <p class="card-text"><small class="text-muted">Publicado el {{this.propertyAd.publicationDate}}</small></p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <section class="container">
          <h5>Descripción</h5>
          <h6>{{this.propertyAd.description}}</h6>
          <h5>Extras</h5>
          <!-- *ngFor="extra of this.extraElements" -->
          <h6 *ngFor="let extra of this.extraElements">
            <ul>
              <li>{{this.extra.element}}</li>
            </ul>
          </h6>
      </section>
      <hr>
      <section class="container">
          <div id="mapa"></div>
      </section>
</section>