<section class="sectionUploadImages">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Genial!</h4>
        <p>Tu anuncio ha sido publicado correctamente</p>
        <hr>
        <p class="mb-0">Para aumentar tus possibilidades éxito añade imágenes del inmueble al anuncio</p>
      </div>
  <label class="uploader-circle">
    <i class="fas fa-plus"></i>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" id="uploader" title="Subir imagen" tabindex="Subir"/>
  </label>
  <section class="row" style="margin-left: 20%; margin-top: 7%; margin-right: 20%">
    <button type="button" class="btn btn-outline-primary btn-block" (click)="finalizar()">Finalizar</button>
  </section>
</section>