<section class="propertySection">
<form class="formSearch" (ngSubmit)="searchAdvanced()">
  <div class="form-row">
    <div class="form-group col-md-6">
        <select class="form-control" (ngModel)="this.selectedProvince" #province (change)="capturarProvince(province.value); getCities()" required>
            <option disabled selected>Provincia*</option>
            <option *ngFor="let province of this.provincies">{{this.province}}</option>
          </select>
    </div>
    <div class="form-group col-md-6">
        <select class="form-control" (ngModel)="this.selectedLocality" #city (change)="capturarCity(city.value)" required>
            <option disabled selected>Ciudad*</option>
            <option *ngFor="let city of this.cities">{{this.city}}</option>												
          </select>
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control" (ngModel)="this.street" #street (change)="capturarStreet(street.value)"  placeholder="Nombre de la vía* ej: calle Mayor"  id="validationDefault03" required>
      </div>
      <div class="form-group col-md-3">
          <input class="form-control" type="number" placeholder="Número del inmueble*" (ngModel)="this.nStreet" #nstreet (change)="capturarNStreet(nstreet.value)"  required>
      </div>
      <div class="form-group col-md-3">
        <input class="form-control" type="number" placeholder="Planta" (ngModel)="this.floor" #floor (change)="capturarFloor(floor.value)">
      </div>
      <div class="form-group col-md-3">
        <input class="form-control" type="number" placeholder="m²*" (ngModel)="this.sm" #sm (change)="capturarSM(sm.value)" required>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
          <input class="form-control" type="number" placeholder="Número de habitaciones*" (ngModel)="this.nRooms" #nRooms (change)="capturarNrooms(nRooms.value)"  required>
        </div>
        <div class="form-group col-md-3">
          <input class="form-control" type="number" placeholder="Número de Baños*" (ngModel)="this.nBathrooms" #nBathrooms (change)="capturarNbathrooms(nBathrooms.value)" required>
        </div>
        <div class="form-group col-md-3">
            <select class="form-control" (ngModel)="this.operationType" #op (change)="capturarOp(op.value)" required>
                <option disabled selected>Vender</option>
                <option value="Comprar">Vender</option>
                <option value="Alquiler">Alquiler</option>
              </select>
        </div>
        <div class="form-group col-md-3">
            <select class="form-control" (ngModel)="this.propertyType" #type (change)="capturarPropertyType(type.value)" required>
                <option disabled selected>Tipo inmueble</option>
                <option>Casa adosada</option>
                <option>Piso</option>
                <option>Apartamento</option>
                <option>Dúplex</option>
                <option>Loft</option>
                <option>Chalet</option>
              </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <input class="form-control" type="number" placeholder="Año de construcción" (ngModel)="this.buildingDate" #year (change)="capturarBuil(year.value)" required>
        </div>
        <div class="form-group col-md-4">
          <select class="form-control" (ngModel)="this.selectedState" #state (change)="capturarState(state.value)" required>
            <option disabled selected>Estado</option>
            <option>Obra nueva</option>
            <option>En buen estado</option>
            <option>A reformar</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <input class="form-control" type="number" placeholder="Precio" (ngModel)="this.price" #price (change)="capturarPrice(price.value)" required>
        </div>
      </div>
      <div class="form-row checboxGroup">
        <div class="form-group col-md-1 marginCheckBox">
            <input type="checkbox" class="custom-control-input" (ngModel)="this.parking" (change)="this.parking = !this.parking" id="Parkingi">
            <label class="custom-control-label"  for="Parkingi">Parking</label>
        </div>
        <div class="form-group col-md-1 marginCheckBox">
            <input type="checkbox" class="custom-control-input" (ngModel)="this.ascensor" (change)="this.ascensor = !this.ascensor" id="Ascensor">
            <label class="custom-control-label"  for="Ascensor">Ascensor</label>
        </div>
        <div class="form-group col-md-1 marginCheckBox">
            <input type="checkbox" class="custom-control-input" (ngModel)="this.amueblado" (change)="this.amueblado = !this.amueblado"id="Amueblado">
            <label class="custom-control-label"  for="Amueblado">Amueblado</label>
        </div>
        <div class="form-group col-md-1 marginCheckBox">
            <input type="checkbox" class="custom-control-input" (ngModel)="this.calefaccion" (change)="this.calefaccion = !this.calefaccion" id="Calefaccion">
            <label class="custom-control-label" for="Calefaccion">Calefacción</label>
        </div>
        <div class="form-group col-md-1 marginCheckBox">
            <input type="checkbox" class="custom-control-input" (ngModel)="this.jardin" (change)="this.jardin = !this.jardin" id="Jardin">
            <label class="custom-control-label" for="Jardin">Jardín</label>
        </div>
        <div class="form-group col-md-1 marginCheckBox">
            <input type="checkbox" class="custom-control-input" (ngModel)="this.piscina" (change)="this.piscina = !this.piscina" id="Piscina">
            <label class="custom-control-label" for="Piscina">Piscina</label>
        </div>
        <div class="form-group col-md-1 marginCheckBox">
            <input type="checkbox" class="custom-control-input" (ngModel)="this.terraza" (change)="this.terraza = !this.terraza" id="Terraza">
            <label class="custom-control-label" for="Terraza">Terraza</label>
        </div>
        <div class="form-group col-md-1 marginCheckBox">
            <input type="checkbox" class="custom-control-input" (ngModel)="this.trastero" (change)="this.trastero = !this.trastero" id="Trastero">
            <label class="custom-control-label" for="Trastero">Trastero</label>
        </div>
      </div>
      <label for="exampleFormControlTextarea1">Descripción*</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" (ngModel)="this.descrip" #descrip (change)="capturarDescrip(descrip.value)" required></textarea>
      <div class="form-row">
        <div class="form-group col-md-6">
          Latitude*
          <input class="form-control" type="number" step="any" ([ngModel])="this.selectedLat" #lati (change)="capturarLat(lati.value)" value="{{this.lat}}">
        </div>
        <div class="form-group col-md-6">
          Longitude*
          <input class="form-control" type="number" step="any" ([ngModel])="this.selectedLng" #long (change)="capturarLng(long.value)" value="{{this.lng}}">
        </div>
      </div>
      <div class="form-group col-md-4 ButtonSection">
      <button type="button" (click)="this.createProperty()"  class="btn btn-primary searchButton">Continuar</button>
    </div>
</form>
</section>