<section class="searchSectionP">
<h1 class="searchTitle">Busqueda avanzada</h1>
<form class="formSearch" (ngSubmit)="searchAdvanced()">
    <div class="form-row">
      <div class="form-group col-md-6">
          <select class="form-control" (ngModel)="this.selectedProvince" #province (change)="capturarProvince(province.value); getCities()" required>
              <option disabled selected>Provincia</option>
              <option *ngFor="let province of this.provincies">{{this.province}}</option>
            </select>
      </div>
      <div class="form-group col-md-6">
          <select class="form-control" (ngModel)="this.selectedLocality" #city (change)="capturarCity(city.value)">
              <option disabled selected>Ciudad</option>
              <option *ngFor="let city of this.cities">{{this.city}}</option>												
            </select>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <select class="form-control" (ngModel)="this.selectednRooms" #nRooms (change)="capturarNrooms(nRooms.value)">
                <option disabled selected>Habitaciones</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
        </div>
        <div class="form-group col-md-3">
            <select class="form-control" (ngModel)="this.selectednBathrooms" #nBaths (change)="capturarNBathrooms(nBaths.value)">
                <option disabled selected>Baños</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
        </div>
        <div class="form-group col-md-3">
            <select class="form-control" (ngModel)="this.selectedmaxSM" #maxSM (change)="capturarmaxSM(maxSM.value)">
                <option disabled selected>máximos m<sup>2</sup></option>
                <option>80</option>
                <option>100</option>
                <option>120</option>
                <option>150</option>
                <option>200</option>
                <option>250</option>
                <option>400</option>
              </select>
        </div>
        <div class="form-group col-md-3">
            <select class="form-control" (ngModel)="this.selectedminSM" #minSM (change)="capturarminSM(minSM.value)">
                <option disabled selected>mínimos m<sup>2</sup></option>
                <option *ngIf="this.selectedmaxSM >= 80">80</option>
                <option *ngIf="this.selectedmaxSM >= 100">100</option>
                <option *ngIf="this.selectedmaxSM >= 120">120</option>
                <option *ngIf="this.selectedmaxSM >= 150">150</option>
                <option *ngIf="this.selectedmaxSM >= 200">200</option>
                <option *ngIf="this.selectedmaxSM >= 250">250</option>
                <option *ngIf="this.selectedmaxSM >= 400">400</option>
              </select>
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-3">
              <select class="form-control" (ngModel)="this.selectedmaxPrice" #pricemax (change)="capturarMaxPrice(pricemax.value)">
                  <option disabled selected>Precio Máximo</option>
                  <option>100000</option>
                  <option>200000</option>
                  <option>250000</option>
                  <option>300000</option>
                  <option>350000</option>
                  <option>400000</option>
                  <option>450000</option>
                  <option>500000</option>
                  <option>600000</option>
                  <option>700000</option>
                  <option>800000</option>
                  <option>900000</option>
                  <option>1000000</option>
                  <option>1500000</option>
                </select>
          </div>
          <div class="form-group col-md-3">
              <select class="form-control" (ngModel)="this.selectedminPrice" #pricemin (change)="capturarMinPrice(pricemin.value)">
                  <option disabled selected>Precio Mínimo</option>
                  <option *ngIf="this.selectedmaxPrice >= 100000">100000</option>
                  <option *ngIf="this.selectedmaxPrice >= 200000">200000</option>
                  <option *ngIf="this.selectedmaxPrice >= 250000">250000</option>
                  <option *ngIf="this.selectedmaxPrice >= 300000">300000</option>
                  <option *ngIf="this.selectedmaxPrice >= 350000">350000</option>
                  <option *ngIf="this.selectedmaxPrice >= 400000">400000</option>
                  <option *ngIf="this.selectedmaxPrice >= 450000">450000</option>
                  <option *ngIf="this.selectedmaxPrice >= 500000">500000</option>
                  <option *ngIf="this.selectedmaxPrice >= 600000">600000</option>
                  <option *ngIf="this.selectedmaxPrice >= 700000">700000</option>
                  <option *ngIf="this.selectedmaxPrice >= 800000">800000</option>
                  <option *ngIf="this.selectedmaxPrice >= 900000">900000</option>
                  <option *ngIf="this.selectedmaxPrice >= 1000000">1000000</option>
                  <option *ngIf="this.selectedmaxPrice >= 1500000">1500000</option>
                </select>
          </div>
          <div class="form-group col-md-3">
              <select class="form-control" (ngModel)="this.selectedOperation" #compra (change)="capturarCompra(compra.value)">
                  <option disabled selected>Comprar</option>
                  <option>Comprar</option>
                  <option>Alquiler</option>
                </select>
          </div>
          <div class="form-group col-md-3">
              <select class="form-control" (ngModel)="this.selectedpropertyType" #type (change)="capturarType(type.value)">
                  <option disabled selected>Tipo inmueble</option>
                  <option>Casa adosada</option>
                  <option>Piso</option>
                  <option>Apartamento</option>
                  <option>Dúplex</option>
                  <option>Loft</option>
                  <option>Chalet</option>
                </select>
          </div>
        </div>
    <div class="form-row checboxGroup">
      <div class="form-group col-md-1 checkBox-search">
          <input type="checkbox" class="custom-control-input" (ngModel)="this.parking" (change)="this.parking = !this.parking; searchAdvanced()" id="Parkingi">
          <label class="custom-control-label"  for="Parkingi">Parking</label>
      </div>
      <div class="form-group col-md-1 checkBox-search">
          <input type="checkbox" class="custom-control-input" (ngModel)="this.ascensor" (change)="this.ascensor = !this.ascensor" id="Ascensor">
          <label class="custom-control-label"  for="Ascensor">Ascensor</label>
      </div>
      <div class="form-group col-md-1 checkBox-search">
          <input type="checkbox" class="custom-control-input" (ngModel)="this.amueblado" (change)="this.amueblado = !this.amueblado"id="Amueblado">
          <label class="custom-control-label"  for="Amueblado">Amueblado</label>
      </div>
      <div class="form-group col-md-1 checkBox-search">
          <input type="checkbox" class="custom-control-input" (ngModel)="this.calefaccion" (change)="this.calefaccion = !this.calefaccion" id="Calefaccion">
          <label class="custom-control-label" for="Calefaccion">Calefacción</label>
      </div>
      <div class="form-group col-md-1 checkBox-search">
          <input type="checkbox" class="custom-control-input" (ngModel)="this.jardin" (change)="this.jardin = !this.jardin" id="Jardin">
          <label class="custom-control-label" for="Jardin">Jardín</label>
      </div>
      <div class="form-group col-md-1 checkBox-search">
          <input type="checkbox" class="custom-control-input" (ngModel)="this.piscina" (change)="this.piscina = !this.piscina" id="Piscina">
          <label class="custom-control-label" for="Piscina">Piscina</label>
      </div>
      <div class="form-group col-md-1 checkBox-search">
          <input type="checkbox" class="custom-control-input" (ngModel)="this.terraza" (change)="this.terraza = !this.terraza" id="Terraza">
          <label class="custom-control-label" for="Terraza">Terraza</label>
      </div>
      <div class="form-group col-md-1 checkBox-search">
          <input type="checkbox" class="custom-control-input" (ngModel)="this.trastero" (change)="this.trastero = !this.trastero" id="Trastero">
          <label class="custom-control-label" for="Trastero">Trastero</label>
      </div>
      <div class="form-group col-md-2 searchButtonSection">
        <button type="submit" [routerLink]="['/search/'+this.selectedmaxPrice+'/'+this.selectedminPrice+'/'+this.selectedLocality+'/'+this.selectedProvince+'/'+this.selectedpropertyType+'/'+this.selectedminSM+'/'+this.selectedmaxSM+'/'+this.selectednRooms+'/'+this.selectednBathrooms+'/'+this.selectedExtraElements+'/'+this.selectedOperation]" routerLinkActive="router-link-active"  class="btn btn-primary searchButton">Search</button>
      </div>
    </div>
  </form>
<section class="card-deck cardDeck">
  <div *ngFor="let res of this.result ; let i = index;" class="card shadow">
    <a [routerLink]="['/detail',res.id]" routerLinkActive="router-link-active" >
      <div class="row no-gutters">
        <div class="col-md-6">
            <section id="demo" >
                  <section class="carousel-item active">
                    <img class="imgSizeSearch" src="http://www.onclickrealestate.com/propertyAd/img/{{this.images[res.id]}}">   
                  </section>
            </section>
        </div>
        <div class="col-md-6">
          <div class="card-body">
              <h5 class="card-title">{{res.price}} €</h5>
              <p class="card-text">{{res.propertyType}} para {{res.operationType}} en {{res.street}} en {{res.locality}}</p>
              <p class="card-text">{{res.squareMeters}}m<sup>2</sup></p>
              <p class="card-text">Habitaciones: {{res.nRooms}}</p>
              <p class="card-text">Baños: {{res.nBathrooms}} </p>
              <p class="card-text"><small class="text-muted">{{res.publicationDate}}</small></p>
          </div>
        </div>
      </div>
    </a>
    </div>
</section>
</section>
