<section class="image-cover-page">
  <section class="mainTitleSection">
      <h1 class="mainTitle">Somos tu inmobiliaria digital!</h1>
			<h2>Vende, Compra & Alquila</h2>
			<a href="#search">
				<button  class="btn btn-info">Buscar</button>
			</a>
  </section>
</section>
<section class="mainPageSection">
  <h2 class="secondTitle">Rápido, Fácil & Simple</h2>
  <section class="card-deck">
    <section class="shadow-sm card">
      <img src="/assets/img/houseCard.jpg" class="card-img-top" alt="...">
      <section class="card-body">
        <h5 class="card-title">650.000€</h5>
        <p class="card-text">Encuentra ese chalet que siempre deseaste a las afueras</p>
      </section>
      <section class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </section>
    </section>
    <section class="card">
      <img src="/assets/img/flatCard.jpg" class="card-img-top" alt="...">
      <section class="card-body">
        <h5 class="card-title">355.000€</h5>
        <p class="card-text">Utiliza OnClickRealEstate.com y vende tu inmueble rápidamente y sin comisiones</p>
      </section>
      <section class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
      </section>
    </section>
    <section class="card">
      <img src="/assets/img/Apartament.jpg" class="card-img-top" alt="...">
      <section class="card-body">
        <h5 class="card-title">225.000€</h5>
        <p class="card-text">Encuentra tu apartamento ideal en el centro y deja de buscar</p>
      </section>
      <section class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
      </section>
    </section>
  </section>
  <section class="searchSection">
    <h2 id="search" #search class="searchSectionTitle">Busca tu nuevo hogar!</h2>
    <!-- Home Search -->
	<div class="home_search">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_search_container">
						<div class="home_search_content">
							<form action="#" class="search_form d-flex flex-row align-items-start justfy-content-start">
								<div class="search_form_content d-flex flex-row align-items-start justfy-content-start flex-wrap">
									<div class="width17">
										<select class="search_form_select" (ngModel)="this.selectedCompra" #compra (change)="capturarCompra(compra.value)">
											<option disabled selected>Comprar</option>
											<option>Comprar</option>
											<option>Alquiler</option>
										</select>
									</div>
									<div class="width21">
										<select class="search_form_select" (ngModel)="this.selectedProvince" #province (change)="capturarProvince(province.value); getCities()" required>
											<option disabled selected>Provincia</option>
											<option *ngFor="let province of this.provincies">{{this.province}}</option>
										</select>
									</div>
									<div class="width21">
										<select class="search_form_select" (ngModel)="this.selectedCity" #city (change)="capturarCity(city.value)">
											<option disabled selected>Ciudad</option>
											<option *ngFor="let city of this.cities">{{this.city}}</option>												
										</select>
									</div>
									<div class="width13">
										<select class="search_form_select" (ngModel)="this.selectedNrooms" #nRooms (change)="capturarNrooms(nRooms.value)">
											<option disabled selected>Habitaciones</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
									</div>
									<div class="width10">
										<select class="search_form_select" (ngModel)="this.selectedNBathrooms" #nBaths (change)="capturarNBathrooms(nBaths.value)">
											<option disabled selected>Baños</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
									</div>
									<div class="width18">
										<select class="search_form_select" (ngModel)="this.selectedPrice" #price (change)="capturarPrice(price.value)">
											<option disabled selected>Precio Máximo</option>
											<option>100000</option>
											<option>200000</option>
											<option>250000</option>
											<option>300000</option>
											<option>350000</option>
											<option>400000</option>
											<option>450000</option>
											<option>500000</option>
											<option>600000</option>
											<option>700000</option>
											<option>800000</option>
											<option>900000</option>
											<option>1000000</option>
											<option>1500000</option>
										</select>
									</div>
								</div>
								<button type="button" class="search_form_button ml-auto" (click)="this.searchProperty()">search</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </section>
  <section class="jumbotron">
    <h1 class="display-4">¿Tienes alguna duda?</h1>
    <p class="lead">
     Contacta con nuestro servicio de atención al cliente</p>
    <hr class="my-4">
    <p>Para cualquier duda estamos a tu disposición</p>
    <a class="btn btn-info btn-lg" href="/contactus" role="button">Contacto</a>
	</section>
</section>