<nav class="navbar navbar-expand-lg navbar-light header-color">
  <a class="navbar-brand header-logo" href="">
    <img src="/assets/img/logo.svg" width="60" height="60" alt="">
    OnClickRealEstate.com
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Buscador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus">Contacto</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mi cuenta
        </a>
        <div *ngIf="!this.service.isLoggedIn()" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" data-toggle="modal" data-target="#login">Login</a>
          <a class="dropdown-item" href="signup">Registrarse</a>
        </div>
        <div *ngIf="this.service.isLoggedIn()" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/userSite">Mis anuncios & Cuenta</a>
            <a class="dropdown-item" href="/propertyAd">Crear nuevo anuncio</a>
            <a class="dropdown-item" (click)="this.service.logout()" href="">Logout</a>
          </div>
      </li>
    </ul>
  </div>
  <!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" (ngModel)="this.user" #user (change)="capturarUser(user.value)" required>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" (ngModel)="this.password" #pass (change)="capturarPass(pass.value)" required>
                </div>          
                <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
              </form>
        </div>
        <div *ngIf="this.service.showErrorMessage" class="alert alert-danger" role="alert">
            El usuario o la contraseña no son correctos o no existen
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</nav>
