<section class="sectionUserSite">
  <h2>Mis anuncios</h2>
  <div class="list-group">
    <div *ngFor="let add of this.properties" class="list-group-item list-group-item-action shadow">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 marginResetMb1">{{add.propertyType}} en {{add.street}} {{add.nStreet}} {{add.locality}}</h5>
        <button type="button" (click)="eliminarAdd(add.id)" class="btn btn-danger marginButton">Eliminar</button>
        <button type="button"[routerLink]="['/detail',add.id]"class="btn btn-info marginButton">Info</button>
        <small class="text-muted">Publicado {{add.publicationDate}}</small>
      </div>
      
    </div>
  </div>
  <h2 class="titleMiCuenta">Mi cuenta</h2>
  <!-- <button type="button"[routerLink]="['/updateUser']"class="btn btn-primary marginButton">Actualizar Usuario</button> -->
  <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
  Borrar Cuenta
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Borrar la cuenta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estás seguro/a de querer borrar la cuenta?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="this.deleteUser()">Borrar</button>
      </div>
    </div>
  </div>
</div>
</section>